
:root {
    --main-bg-color:rgb(71, 60, 60);
    --main-text-color: white;
    --buttons-color : rgb(8, 94, 8);
    --text-color: rgba(209, 76, 9, 0.979);
  }
body{
    background-color: ivory;
    height: 98vh;
}


#header{
    margin: 10px 10px;
    
}

h1 {
    font-size: 40px;
    text-align: center;
}

#main-section{
    
    background-color: rgb(75, 68, 68);
    margin: 10px 10px 10px 10px;
    padding: 10px 10px 10px 10px;
    border-radius: 5px;
    color:var(--main-text-color);
    display: flex;
    align-items: flex-start;
    justify-content: center;
    width:auto;    
    height: auto;       
    border: 1px solid black;
}

#jumbo{
    /* background-color: var(--main-bg-color); */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    /* background-image: url("../images/time.jpg");
    background-repeat: no-repeat;
    background-size:cover; */
    object-fit:fill ;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    padding: 0 auto;    
    color: var(--text-color);
   
    

}

.lead {
    font-size: 30px;
    width: 75%;
    text-align: center;
    line-height: 1.25;
}

#formGroupExampleInput {
    margin-top: 10px;
}

#form{
    align-items: center;
    text-align: center;
    /* opacity: 0.7; */
}

#submit-button{
    color: var(--text-color);
    border-radius: 20px;
    background-color: white;
    border-color: var(--text-color);
    /* opacity: 0.9; */
}

#header #navbar{
    background-color: var(--main-bg-color);
    color: var(--main-text-color);
    border-radius: 5px;
    justify-content: space-evenly;
    color:var(--text-color);
}

#header #navbar #brand{
    
    color: var(--text-color);
}

#footer{
    display: flex;
    background-color: var(--main-bg-color);
    margin: 10px 10px 10px 10px;
    padding: 10px 10px 10px 10px;
    border-radius: 5px;
    color:var(--text-color);
    text-align: center;
    justify-content: center;
    align-items: center;
}
#previous-searches{  
    /* display:none; */
    text-align: center;
    width: 100%;
    height: 60vh;
    height: auto;   
    color: var(--text-color);
}

#cards-section{
    display: flex;
    align-items: center;
    justify-content: center;
}

.previous-cards{
    display: flex;
    align-items: center;
    justify-content: center;   
    background-color: var(--main-bg-color);
}

.film-overview {
    height: 300px;
}

.fact {
    height: 200px;
}

.previous-cards ul li{
    background-color: var(--main-bg-color);
}

#previous-header{
    text-align: center;
    margin: 0 auto;
    padding: 0 auto;
}

#footer-list{
    display:inline;
    text-decoration: none;
    margin-top: 5px;
}
#footer-list li{
    display: inline;
    margin-left: -10px;    
}
#footer-list li img{
    border-radius: 25px;
}
#modal{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--main-bg-color);
}

#modal-body-card{
    background-color: var(--main-bg-color);
    display: flex;
    align-items: center;
    justify-content: center;
}
#modal-body-card ul li{
        
    background-color: var(--main-bg-color);

}

.movie-image {
    width: 100px;
    height: 100px;
}
#nav-img{
    border-radius: 20px;
    margin-top: -10px;
    padding-top: 5px;
}