#main-section{
    padding: 0;
    color: white;

}
:root {
    --main-bg-color:rgb(71, 60, 60);
    --main-text-color: white;
    --buttons-color : rgb(8, 94, 8);
  }
body{
    background-color: ivory;
}


#header{
    margin: 10px 10px;
}
#jumbo-container{
    background-color: var(--main-bg-color);
    opacity: 0.1;
    display: flex;
}
#jumbo{
    /* background-color: var(--main-bg-color); */
    background-image: url("/assets/images/time.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    object-fit:fill ;
    /* opacity: 0.7; */
    
}
#header #navbar{
    background-color: var(--main-bg-color);
    color: var(--main-text-color);
    border-radius: 5px;


}
#header #navbar #brand{
    color: var(--main-text-color);
}

/* .hero-section{
    width: 1900px;
    height: 930px;    
    margin: 0 auto;
    border: 1px solid black; 
       
} */

#hero{
    

    
}
