#main-section{
    padding: 0;
    margin: 0;
 
    
}

.hero-section{
    width: 1920px;
    height: 920px;    
    margin: 0 auto;
    border: 1px solid black; 
       
}

#hero{
    
    background-image: url('../images/time.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    object-fit: contain;
    
    
}
.cards{
    color: white;
    background-color: aqua;
    opacity: 0.9;
    display: inline-block;
    margin: 5px;
}